<div class="footer">
<div class="icon">
    <a href="/home"><img src="/images/recipe.png" ></a>
</div>
<div class="icon">
    <a href="/maps"><img src="/images/compass.png" ></a>
</div>

<div class="icon">
    <a href="/cal"><img src="/images/calender.png" ></a>
</div>
<div class="icon">
    <a href="/profile"><img src="/images/profile.png" ></a>
</div>
</div>