<div class="footer">
<div class="icon">
    <a href="/home"><img src="/images/recipe.png" style="width: 100px;"></a>
</div>
<div class="icon">
    <a href="/maps"><img src="/images/compass.png" style="width: 100px;"></a>
</div>
<!-- <div class="icon">
    <img src="/images/heart.png" style="width: 100px;">
</div> -->
<div class="icon">
    <a href="/cal"><img src="/images/calender.png" style="width: 100px;"></a>
</div>
<div class="icon">
    <a href="/profile"><img src="/images/profile.png" style="width: 100px;"></a>
</div>
</div>