<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="stylesheets/sign_up.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User credentials</title>
</head>
<style>
    body{padding: 5px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
</style>
<body>
    <h1>Log In</h1><br><br>
    <hr><br>
   <% if (messages.error){ %>
    <%= messages.error %>   
<%   } %>
    <form action="" method="POST">
        <span style="font-weight: bold;">EMAIL</span> <br>
        <input type="email" name="email" id="email" required class="width" style="width:clamp(200px,50%,500px) ;"><br><br>
        <span style="font-weight: bold;">PASSWORD</span> <br>
        <input type="password" name="password" id="password" required class="width" style="width:clamp(200px,50%,500px) ;">
        <br><br><br>
        <input type="submit" value="Log in" style="width: clamp(100px,10%,200px);color: black;">
    </form>
    <br>    
    <a href="/signup">Sign up instead</a>
</body>n
</html>