<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="/images/food.ico" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/navigation.css">
    <link rel="stylesheet" href="stylesheets/default.css">
    <link rel="stylesheet" href="stylesheets/profile.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= name %></title>
</head>
<body>
    <div class="container">
        <h3 style="text-transform: uppercase;"> C<span style="color: chartreuse;">OO</span>K</h3>
        <!-- Username -->
        <img src="/images/avatar.png"   style="position: relative; display: block;margin: 0 auto;border-radius: 50%;width: 20%;height: auto;">
       
       
       <h2 class="user"><%= name %></h2> 
       <h2 class="user"><%= email %></h2> 
       <br>
       <form  action='/logout?_method=DELETE' method="POST" > 
            <input type="submit" value="SIGN OUT" >
        </form>
    </div>

    <div id="rendered-content"></div>
</div>
<%- include('partials/footer') %>
</body>
</html>