<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="stylesheets/sign_up.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign up</title>

</head>

<body>
    <br><br>
    <h1> C<span>ü</span>rate</h1>
    
    <h4 style="text-align: center;">
    
    <div class="log_in" onclick="location.href = '/login' ">Log In</div> 
    <br>
    <div class="sign_up" id="register">Sign up</div>
    <div id="container" >
    </div>
    
    <div id="form">
        <h2>S<span style="text-transform: lowercase;">ign up</span> </h2>
        <p style="text-transform: lowercase; font-weight: lighter;">please fill in this form to create an account</p>
        <hr><br>
        <form action="/signup" method="POST"> 
           <span>name </span>  <br> <input type="text" name="name" id="width" required placeholder="John"><br><br>
           <span>email</span>  <br>  <input type="email" name="email" id="width" required placeholder="example@gmail"><br><br>
          <span>password</span>    <br> <input type="password" name="password" id="width" required placeholder="input password"><br><br>
           <br>
            
            <input type="button" value="cancel" id="cancel"><input type="submit" value="submit">
        </form>
    </div>  
     
    <br><br><br>
    
    <footer>
        <div style="text-align: center;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">By signing up , you agree with the <a href="">terms of service</a> <br>
            and<a href='' style="text-align: center;">
                privacy policy</a></div>
    </footer>


    <script src="/javascripts/sign-up.js"></script>
</body>

</html>