<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/default.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wishlist</title>
</head>
<body>
    <style>
        ul li{
            padding: 2%;
            display: flex;
        }
        img{
            width: 15%;
            height: auto;
            margin: 1%;
        }
        .text{
            display: flex;align-items: center;
        }
    </style>
   <div class="container" >
       <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;text-align: center;">Wishlist</h1>
     <ul>
         <% const a = wishlist; for (let i = 0; i < a.length; i++ ){ %>
            <li><img src="<%= a[i][0] %>" alt=""><div class="text"><%= a[i][1] %></div></li>
            <% } %>
     </ul>

    
   </div>
    <%- include('partials/footer') %>
</body>
</html>